<framework-data>
	<options>
		<option id="com.atmel.avr.sf.xmegaa.common.applications.user_application" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.xmega.drivers.ioport" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.common.boards" value="true"/>
		<option id="com.atmel.avr.sf.xmegaa.common.services.basic.gpio" value="true"/>
	</options>
	<files>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/ioport/ioport.c" source="xmega/drivers/ioport/ioport.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf.h" source="./common/applications/user_application/atxmega128a1_stk600-rc100x/as5_8_template/asf.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/config/conf_board.h" source="common/applications/user_application/atxmega128a1_stk600-rc100x/conf_board.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/drivers/ioport/ioport.h" source="xmega/drivers/ioport/ioport.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/utils/interrupt/interrupt_avr8.h" source="common/utils/interrupt/interrupt_avr8.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/status_codes.h" source="xmega/utils/status_codes.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/gpio/xmega_ioport/xmega_gpio.h" source="common/services/gpio/xmega_ioport/xmega_gpio.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/utils/interrupt.h" source="common/utils/interrupt.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/assembler/gas.h" source="xmega/utils/assembler/gas.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/compiler.h" source="xmega/utils/compiler.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/parts.h" source="xmega/utils/parts.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/tpaste.h" source="xmega/utils/preprocessor/tpaste.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/boards/stk600/rc100x/init.c" source="xmega/boards/stk600/rc100x/init.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/main.c" source="common/applications/user_application/main.c" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/boards/board.h" source="common/boards/board.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/preprocessor.h" source="xmega/utils/preprocessor/preprocessor.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/bit_handling/clz_ctz.h" source="xmega/utils/bit_handling/clz_ctz.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/progmem.h" source="xmega/utils/progmem.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/stringz.h" source="xmega/utils/preprocessor/stringz.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/assembler.h" source="xmega/utils/assembler.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/utils/preprocessor/mrepeat.h" source="xmega/utils/preprocessor/mrepeat.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/xmega/boards/stk600/rc100x/stk600_rc100x.h" source="xmega/boards/stk600/rc100x/stk600_rc100x.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/services/gpio/gpio.h" source="common/services/gpio/gpio.h" changed="False"/>
		<file framework="com.atmel.avr.sf.xmegaa" version="2.5.1-17860" path="src/asf/common/utils/make/Makefile.avr.in" source="common/utils/make/Makefile.avr.in" changed="False"/>
	</files>
	<documentation help="http://asf.atmel.com/docs/2.5.1/common/applications/user_application/atxmega128a1_stk600-rc100x/doxygen/html/"/>
</framework-data>
